@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wg');
body {
    margin: 0;
    padding: 0;
    background-color: #eeeeec;
}

.container {
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    height: 400px;
    width: 300px;
    background-color: #fdfeff;
    border-radius: 5px;
    box-shadow: 5px 5px 20px grey;
}