@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container 
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .profile
{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #F9F2ED;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0,5);
    transition: 0.3s ease-in-out;
}
.container .profile:hover
{
    height: 420px;
}
.container .profile .imgbx
{
    position: relative;
    width: 230px;
    height: 260px;
    top: auto;
    left: auto;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0,0.2);
}
.container .profile .imgbx img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .profile .content
{
   position: relative;
   margin-top: -140px;
   padding: 10px 15px;
   text-align: center;
   color: black;
   visibility: hidden;
   opacity: 0;
   transition: 0.3s ease-in-out;
}
.container .profile:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0,3s;
}